@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2&family=Borel&family=Dai+Banna+SIL:wght@300&family=Lato:wght@100;300&family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2&family=Borel&family=Dai+Banna+SIL:wght@300&family=Lato:wght@100;300&family=Oswald&family=Roboto+Slab:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2&family=Borel&family=Dai+Banna+SIL:wght@300&family=Lato:wght@100;300&family=Oswald&family=Roboto+Slab:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2&family=Borel&family=Dai+Banna+SIL:wght@300&family=Lato:wght@100;300&family=Oswald&family=Roboto+Slab:wght@200&display=swap');
body{
    margin: 0;
    padding: 0;
    /* background: linear-gradient(to right, #6e00ff, rgba(255, 255, 255, 0.767)); */
    background: linear-gradient(to right, rgb(255, 255, 255), rgb(129, 127, 127));
    /* */
    height: 100vh;
}
#details{
    height: 3vh;
    margin: 13px;
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center; 

}
button {
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: grey;
    color: rgba(23, 4, 4, 0.711);
    cursor: pointer;
    font-weight: bold;
    letter-spacing: 1px;
    transition: background-color 0.3s;
  }
  h1{
    font-family: 'Oswald', sans-serif;
    margin-left: 2vw;
    font-size: 6vh;
    color: rgba(23, 4, 4, 0.711);
    display: flex;
    justify-content: center; 
    padding-top: 15px;
  }
  .content{
    margin: 1vw 0;
  }
 h2{
    display: flex;
    font-family: 'Oswald', sans-serif;
    margin: 4vh 6vh;
    font-size: 4vh;
    justify-content: center;
    color: rgba(23, 4, 4, 0.711);
 }
 form{
    display: flex;
    justify-content: center;
    align-items: center;    
 }
 table{
    font-family: 'Roboto Slab', serif;
    color: black;
 }
 input{
    /* border-radius: 3px;
    border: #6e00ff; */
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    outline: none;
 }